<ion-content class="login-content sign-in">
  <ion-item class = 'image'>
      <ion-img src="../../assets/logo-no-bg.png"></ion-img>
  </ion-item>
  <form (ngSubmit)="newUser(userSignin)">
    <ion-item>
      <ion-label position="floating">Nome <ion-text color="danger">*</ion-text></ion-label>
      <ion-input  [(ngModel)]="userSignin.name" name = 'name' type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Sobrenome <ion-text color="danger">*</ion-text></ion-label>
      <ion-input  [(ngModel)]="userSignin.lastname" name = 'lastname' type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Data de nascimento <ion-text color="danger">*</ion-text></ion-label>
      <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="userSignin.bornDate" name = 'bornDate'></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="userSignin.email" name = 'email' type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirme E-Mail <ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="userSignin.emailC" name = 'emailC' type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha <ion-text color="danger">*</ion-text></ion-label>
      <ion-input  [(ngModel)]="userSignin.pass" name = 'pass' type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirme Senha <ion-text color="danger">*</ion-text></ion-label>
      <ion-input  [(ngModel)]="userSignin.passC" name = 'passC' type="password"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">
      Cadastrar
    </ion-button>
    <ion-button (click)="navigateRouter('login')" expand="block">
      Voltar
    </ion-button>
  </form>
  
</ion-content>