<ion-header>
  <ion-toolbar>
    <ion-title>
      Musicas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="music-content">
  
  <ion-card *ngFor="let item of musics.tracks"  (click)="openCardMusic(item)" id="{{item?.name}}" class="card-content">
    <ion-thumbnail class="item-image" [@openCardMusic] = 'inputOpen.animationImg'>
      <img [src]="musics?.albumImage.url" [@openCardMusic] = 'inputOpen.imgPosition'>
    </ion-thumbnail>
    
    <ion-card-content class="card-music-content" [@openCardMusic] = 'inputOpen.animationContent'>
      <ion-text>
        <h1>{{item?.name}}</h1>
      </ion-text>
      <ion-text>
        <h2>{{musics?.albumName}}</h2>
      </ion-text>
      <a href="">Mais</a>
    </ion-card-content>
  </ion-card>
</ion-content>
