<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="single-news-content">
  <ion-card>
    <ion-img [src]="singleNews?.thumb"></ion-img>
    <ion-card-header class="card-single-post-header">
      <ion-card-title>{{ singleNews?.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="content-single-post">
      <ion-card-subtitle>{{ singleNews?.subtitle }}</ion-card-subtitle>
      <ion-text>
        <p>{{ singleNews?.content }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>