<ion-content class="login-content">
  <ion-img src="../../assets/png_branco_transparente.png"></ion-img>
  <form (ngSubmit)="loginApp(this.user)">
    <ion-item>
      <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="user.email" name = 'email' type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
      <ion-input  [(ngModel)]="user.pass" name = 'pass' type="password"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">
      Entrar
    </ion-button>
  </form>
  <ion-button (click)="navigateRouter('signin')" expand="block">
    Cadastrar
  </ion-button>
</ion-content>