<ion-header>
  <ion-toolbar>
    <ion-title>
      Livros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="books-content">
  <ion-card class="card-content" *ngFor="let article of files" id="{{ article?.name }}">
    <a [href]="article.path" target="_blank">
      <ng-container *ngIf="article.img == true; else elseTemplate">
        <ion-thumbnail class="article-image">
          <img [src]="article?.img" />
        </ion-thumbnail>
      </ng-container>
      
      <ng-template #elseTemplate>
        <ion-thumbnail class="article-icon">
          <ion-icon name="document"></ion-icon>
        </ion-thumbnail>
      </ng-template>
      
      <ion-card-content class="card-article-content">
        <ion-text>
          <h1>{{ article?.name }}</h1>
        </ion-text>
        <ion-text>
          <h2>Tipo - {{ article?.contentType | uppercase }}</h2>
        </ion-text>
      </ion-card-content>
    </a>
  </ion-card>
</ion-content>
