// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500,500i,600,900,900i');

///Color Variables 
$headerFooter: #E76F51;
$titleColor: white;
.tab-selected{
    color:#1e555c;
    --ion-color-primary:#1e555c;
    ion-icon{
        color:#1e555c;
        --ion-color-primary:#1e555c;
    }
}


body{
    font-family: 'Fira Sans', sans-serif!important;
    
}
ion-toolbar,ion-tab-bar{
    --background: #E76F51;
    --color	:white;
}
ion-content.login-content{
    --background: #E76F51;
    --padding-start:15px;
    --padding-end:15px;
    form{
        border-radius: 5px;
        ion-label{
            --color:white;
        }
    }
    ion-button {
        --background: #E9C46A;
        margin:15px 0;
    }
    ion-item{ 
        --background:#E76F51;
        ion-input{
            
        }
    }
}
ion-content.login-content.sign-in{
    .image{
        ion-img{
         width: 40%;
         margin: 0 auto;
        }
    }
    
}