<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <ion-slides mode="md" pager="md" scrollbar="md">
    <ion-slide *ngFor="let post of slideHome; " class="ion-card-home" (click)="openNews(post)">
      <ion-img [src]="post?.thumb"></ion-img>
      <ion-text>
        {{post?.title}}
      </ion-text>
    </ion-slide>

  </ion-slides>

  <section class="mPhrase">
    <ion-card>
      <ion-card-content>
        {{phrase}}
      </ion-card-content>
    </ion-card>
  </section>

  <ion-card *ngFor="let post of newsHome" class="ion-card-home" (click)="openNews(post)">
    <ion-card-header class="card-home-header">
      <ion-card-title>{{ post?.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="content-home">
      <div class="bg-image">
        <ion-img [src]="post?.thumb"></ion-img>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>